@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Roboto:wght@400;500&display=swap");

.subtitle {
  font-family: "roboto";
  font-size: 2rem !important;
  font-weight: 400;
  padding: 0.6rem 0 0 0.6rem;
}

.paragraph {
  font-family: "roboto";
  font-size: 1.2rem !important;
  padding: 0.6rem;
}

.contactEmboss {
  font-size: 1.4rem !important;
  padding-left: 1rem;
}

@media (max-width: 600px) {
  .gridItem {
    margin-bottom: 1.5rem !important;
  }
}
